---
import Launches from "../components/Launches.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SpaceX Lastest Launches">
  <main>
    <Launches Type="Lastest"/>
  </main>
</Layout>
